body{
  background-color: #ccefff;
  text-align: center;
}

.numofclicks, .container {
  display: flex;
  justify-content: center;
}

h2 {
  margin: auto;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  margin: 25px;
  border-radius: 50px;
}
