body{
  background-color: #ccefff;
  text-align: center;
}

.listofcats, .numofclicks, .container, .row{
  display: flex;
  justify-content: center;
}

.catbutton {
  width: 100px;
  margin: auto;
  list-style: none;
  border-radius: 50px;
  border: 1px solid #000;
}

.row {
  margin: 20px;
}

#adminbutton {
  width: 100px;
  padding: 5px 25px;
  margin: 50px;
  list-style: none;
  border-radius: 50px;
  border: 1px solid #000;
}

h2 {
  margin: auto;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  margin: 25px;
  border-radius: 50px;
}
